body{
    background-color: #0F1624;
    font-style: "Roboto", sans-serif;
    text-transform: capitalize;
    /* color:rgb(34, 32, 32); */
}
.container{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
.card__header{
    width: 98vw;
    display: flex;
    justify-content: space-between;
    
}
.card__header__menu{
    background-color:rgba(0, 0, 0, 0.27);
    box-shadow: 0 0 15px black;
}
.card__header__nav{
    display: flex;
    
}
.card__header__nav__button{
    margin-left: 1em;
    
}
.card__header__nav__button__link{
    color: black;
    background-color:rgba(0, 0, 0, 0.27);
    box-shadow: 0 0 15px;
}
.card--heading{
    width:80vw;
    justify-self: flex-start;
    background-color:rgba(0, 0, 0, 0.27);
    box-shadow: 0 0 15px;
}

.card__header__nav{
    display:flex;
    
}
.card__header__nav__button{
    margin-left: 1em;
    
}
.card--experience{
    
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.card__experience__image {

    max-width: 375px;
    
}

.card--footer{
    width:98vw;
    margin-top: auto;
    margin-left:20px;
    margin-right:20px;
}
.card__footer{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: flex-end;



}

.card__footer--items{
    display:flex;
    justify-content: space-evenly;
    align-items: flex-end;
    

}
.card__experience{
    padding:1em;
    margin:2em;
    max-width: 35vw;
    background-color:rgba(0, 0, 0, 0.27);
    box-shadow: 0 0 15px;
    font-style:"Roboto", sans-serif;
    text-align: justify;
}
.card__footer__social__media{
    background-color:rgba(0, 0, 0, 0.27);
    box-shadow: 0 0 15px black;
}
.card__footer__web__pages__links{
    background-color:rgba(0, 0, 0, 0.27);
    box-shadow: 0 0 15px black;
    color:black;
}
